schema/plugin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="betaville-plugin">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="name" type="xs:string" />
      	<xs:element name="description" type="xs:string" />
      	<xs:element name="author" type="xs:string" />
      	<xs:element name="classname" type="xs:string" />
      	<xs:element name="dependencies" type="xs:string">
      		<xs:simpleType>
      			<xs:restriction base="xs:string"></xs:restriction>
      		</xs:simpleType>
      	</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>